button.button_compontent_button3 {
  cursor: pointer;
  padding: 12px 40px;
  background-color: rgb(47, 121, 206);
  border: none;
  outline: none;
  border-radius: 100px;
  color: white;
  box-shadow: 0 0 5px rgba(32, 105, 189, 0.3);
  transition: all 0.8s;
}

button.button_compontent_button3:hover {
  background-color: rgb(56, 137, 230);
}