button.button_compontent_button3 {
  cursor: pointer;
  padding: 12px 40px;
  background-color: var(--bgColor);
  border: none;
  outline: none;
  border-radius: 100px;
  color: white;
  box-shadow: 0 0 5px var(--bgColor03);
  transition: all 0.8s;
}

button.button_compontent_button3:hover {
  background-color: var(--bgColor);
}