button.button_compontent_button3 {
  cursor: pointer;
  padding: 0 30px;
  height: 36px;
  background-color: var(--bgColor);
  border: none;
  outline: none;
  border-radius: 100px;
  color: var(--color);
  box-shadow: 0 0 5px var(--bgColor03);
  transition: all 0.8s;
}

button.button_compontent_button3:hover {
  background-color: var(--hoverColor)!important;
}

button.button_compontent_button3_hover:hover {
  background-color: rgb(70, 145, 245)!important;
}

/* more */

button.button_compontent_button2_hover {
	box-shadow: 0 0 3px rgba(47, 121, 206, 0.3);
}
