.code_box_middle {
  width: calc(100% - 760px);
  height: 100%;
  transition: all 0.8s;
}


.code_box_middle:hover {
  background-color: #ececec;
}

.code_box_middle_content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
