.home_banner {
	display: flex;
	justify-content: center;
}

.home_banner_img {
	width: 50%;
}

.home_banner_img img {
	width: 100%;
}

.home_banner_text {
	width: 30%;
	padding-top: 8vw;
	text-align: center;
}

.home_banner_title {
	font-size: 4vw;
	line-height: 130px;
	font-weight: 700;
	transition: all 0.3s;
	width: 530px;
}

.home_banner_title {
	--home_banner_title_width: 530px;
  background: linear-gradient(45deg, rgb(144, 182, 212),rgb(98, 154, 199),rgb(113, 129, 211),rgb(100, 144, 226),rgb(112, 142, 224));
  -webkit-background-clip: text;
	background-clip: text;
  -webkit-text-fill-color: transparent;
	animation: homeTitleColor linear 2.6s infinite;
}

.home_banner_title_box {
	height: 130px;
	overflow: hidden;
	animation: homeTitle linear 1.6s;
}

@keyframes homeTitle {
	0% {
		width: 0;
		border-right: 2px solid rgb(100, 144, 226);
	}

	86% {
		width: 86%;
		border-right: 2px solid rgb(100, 144, 226);
	}

	100% {
		width: 95%;
	}
}

@keyframes homeTitleColor {
	0% {
		background-position: 0;
	}

	100% {
		background-position: var(--home_banner_title_width);
	}
}

.home_banner_title2 {
	font-size: 26px;
	line-height: 80px;
	color: rgb(146, 183, 240);
	margin-bottom: 50px;
	transition: all 0.3s;
}

button.home_button {
  cursor: pointer;
	width: 130px;
	height: 40px;
	font-size: 16px;
	background: linear-gradient(45deg, transparent 6%, rgb(77, 99, 211) 5%);
	border: 0;
	color: #fff;
	letter-spacing: 3px;
	line-height: 40px;
	box-shadow: 5px -4px 0px rgba(135, 142, 201, 0.6);
	outline: transparent;
	position: relative;
}

button.home_button::after {
	--slice-0: inset(50% 50% 50% 50%);
	--slice-1: inset(80% -6px 0 0);
	--slice-2: inset(50% -6px 30% 0);
	--slice-3: inset(10% -6px 85% 0);
	--slice-4: inset(40% -6px 43% 0);
	--slice-5: inset(80% -6px 5% 0);
	content: "快速上手";
	display: block;
	position: absolute;
	top: -10px;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(
		45deg,
		transparent 3%,
		#00e6f6 3%,
		#00e6f6 5%,
		#4d63d3 5%
	);
	text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
	clip-path: var(--slice-0);
}

button.home_button:hover::after {
	animation: 1s glitch;
	animation-timing-function: steps(2, end);
}

@keyframes glitch {
	0% {
		clip-path: var(--slice-1);
		transform: translate(-20px, -10px);
	}
	10% {
		clip-path: var(--slice-3);
		transform: translate(10px, 10px);
	}
	20% {
		clip-path: var(--slice-1);
		transform: translate(-10px, 10px);
	}
	30% {
		clip-path: var(--slice-3);
		transform: translate(0px, 5px);
	}
	40% {
		clip-path: var(--slice-2);
		transform: translate(-5px, 0px);
	}
	50% {
		clip-path: var(--slice-3);
		transform: translate(5px, 0px);
	}
	60% {
		clip-path: var(--slice-4);
		transform: translate(5px, 10px);
	}
	70% {
		clip-path: var(--slice-2);
		transform: translate(-10px, 10px);
	}
	80% {
		clip-path: var(--slice-5);
		transform: translate(20px, -10px);
	}
	90% {
		clip-path: var(--slice-1);
		transform: translate(-10px, 0px);
	}
	100% {
		clip-path: var(--slice-1);
		transform: translate(0);
	}
}

@media screen and (max-width: 1700px) {
	.home_banner_title {
		width: 383px;
		line-height: 100px;
		--home_banner_title_width: 383px;
	}

	.home_banner_title2 {
		font-size: 22px;
		margin-bottom: 40px;
	}

	.home_banner_text {
		padding-top: 6vw;
	}

	.home_banner_title_box {
		height: 100px;
	}
}

@media screen and (max-width: 1350px) {
	.home_banner_title {
		width: 322px;
		line-height: 80px;
		--home_banner_title_width: 322px;
	}

	.home_banner_title2 {
		font-size: 18px;
		margin-bottom: 30px;
	}

	.home_banner_text {
		padding-top: 4vw;
	}

	.home_banner_title_box {
		height: 80px;
	}
}

@media screen and (max-width: 1000px) {
	.home_banner {
    flex-wrap: wrap;
  }

  .home_banner_img {
    width: 100%;
  }

  .home_banner_text {
    width: 100%;
  }

	.home_banner_title {
		width: 100%;
		font-size: 8vw;
		line-height: 80px;
		--home_banner_title_width: 1000px;
	}

	.home_banner_title_box {
		height: 80px;
		margin: auto;
	}
}

@media screen and (max-width: 600px) {
	.home_banner_title {
		--home_banner_title_width: 600px;
	}
}

@media screen and (max-width: 400px) {
	.home_banner_title {
		--home_banner_title_width: 400px;
	}
}