.home_banner {
  display: flex;
  justify-content: center;
}

.home_banner_img {
  width: 50%;
}

.home_banner_img img {
  width: 100%;
}

.home_banner_text {
  width: 30%;
  padding-top: 8vw;
  text-align: center;
}

.home_banner_title {
  font-size: 80px;
  line-height: 130px;
  font-weight: 700;
}

.home_banner_title2 {
  font-size: 26px;
  line-height: 80px;
  color: rgb(122, 121, 121);
  margin-bottom: 50px;
}
