.middle_content {
  width: calc(100% - 400px);
  margin-right: 260px;
  margin-left: 300px;
}

@media screen and (max-width: 1200px) {
  .middle_content {
    width: calc(100% - 220px);
    margin-right: 0;
    margin-left: 220px;
  }
}