.middle_content {
  width: calc(100% - 400px);
  margin-right: 260px;
  margin-left: 300px;
}

.to_top {
  cursor: pointer;
  position: fixed;
  z-index: 999;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgb(221, 219, 219);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  background-color: #fff;
  text-align: center;
  transition: all 0.3s;
}

.to_top:hover {
  animation: hoverToTop 0.8s;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.to_top:hover img {
  width: 60%;
  margin-top: 20%;
}

@keyframes hoverToTop {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

.to_top img {
  transition: all 0.3s;
  width: 50%;
  margin-top: 25%;
}

@media screen and (max-width: 1200px) {
  .middle_content {
    width: calc(100% - 220px);
    margin-right: 0;
    margin-left: 220px;
  }
}

@media screen and (max-width: 900px) { 
  .middle_content {
    width: calc(100% - 40px);
    margin-left: 0;
  }
}
