.code_box_right {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  border-left: 1px solid #efefef;
  transition: all 0.8s;
}

.code_box_right pre {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 32px;
  overflow: hidden;
  transition: all 0.8s;
}

.code_box_right pre:hover {
  background-color: #ececec;
}

.code_box_right pre::after {
  position: absolute;
  top: 0;
  left: 90px;
  line-height: 32px;
  color: rgb(131, 130, 130);
  font-size: 14px;
}

.code_box_right pre.HTML::after {
  content: "HTML";
}

.code_box_right pre.CSS::after {
  content: "CSS";
}

.code_box_right pre.JS::after {
  content: "JS";
}

pre.HTML {
  color: #ce7d69;
  height: calc(30% - 64px);
}

pre.CSS {
  color: #767cc9;
  height: calc(30% - 64px);
}

pre.JS {
  color: #c9b716;
  height: calc(30% - 64px);
}

pre::before {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 12px;
  height: 12px;
  overflow: visible;
  font-weight: 700;
  font-size: 16px;
  line-height: 12px;
  white-space: nowrap;
  text-indent: 75px;
  background-color: #fc625d;
  border-radius: 16px;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: attr(codetype);
}

.code_box_right pre:hover {
  overflow: scroll;
}

.copy {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: 386px;
  top: 8px;
  padding: 3px 10px;
  background-color: rgb(173, 173, 173);
  color: white;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.8s;
}

.code_box_right pre:hover .copy {
  opacity: 1;
}
