div.component_content_content1 {
  overflow: hidden;
  margin: 20px 0;
  padding: 30px;
  background-color: var(--bgColor);
}

div.component_content_content1 img {
  width: 40%;
  float: left;
}

div.component_content_content1 .text {
  /* 这个60px为padding第二个值的双倍 */
  padding-left: 30px;
  width: calc(60% - 30px);
  float: left;
}

div.component_content_content1 h2 {
  margin-bottom: 10px;
  color: var(--color);
}

div.component_content_content1 p {
  text-indent: 2em;
  line-height: 28px;
  color: var(--color);
}
