.switch_component1_content .switch_box {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid rgb(187, 183, 183);
  background-color: #bfbfbf;
  transition: all 0.3s;
}

.switch_component1_content .switch_circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s;
}

.switch_component1_content .is_switch_box {
  background-color: #3e5bf2;
}

.switch_component1_content .is_switch_box .switch_circle {
  left: 20px;
}