.table_component2_content {
  width: 100%;
}

.table_component2_content table td {
  border-bottom: 1px solid rgb(168, 167, 167);
  color: #495057;
  padding: 8px 20px;
  text-align: center;
}

.table_component2_content table tbody tr:hover {
  background-color: rgb(243, 243, 243);
  transition: all 0.3s;
}

.table_component2_content table thead td {
  font-weight: 700;
  font-size: 16px;
}

.table_component2_content table tbody td {
  font-size: 14px;
}