.component_big_title {
  font-size: 40px;
  margin-bottom: 20px;
}

.component_big_title span {
  font-size: 20px;
  color: rgb(151, 150, 150);
}

.compontent_title {
  font-size: 25px;
  line-height: 80px;
}

.component_box {
  border: 1px solid #ebebeb;
  margin: 30px 0;
}

.compontent_box_content {
  padding: 30px;
}

.compontent_box_menu {
  cursor: pointer;
  border-top: 1px solid #ebebeb;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
  overflow: hidden;
}

.compontent_box_menu:hover {
  background-color: rgb(252, 251, 251);
}

.compontent_box_menu span {
  transform: translateY(-50px);
  transition: all 0.3s;
}

.compontent_box_menu img {
  transform: translateX(-50px);
  transition: all 0.3s;
}

.compontent_box_menu:hover img {
  transform: translateX(0);
}

.compontent_box_menu:hover span {
  transform: translateY(0);
  animation: boxMenuSpan linear 0.6s;
}

@keyframes boxMenuSpan {
  0% {
    transform: translateY(-50px);
  }

  40% {
    transform: translateY(8px);
  }

  60% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}

p.compontent_p {
  margin-bottom: 20px;
  line-height: 26px;
  color: rgb(100, 99, 99);
}

p.function_p {
  line-height: 26px;
  color: rgb(100, 99, 99);
}

p.function_p img {
  width: 15px;
  transform: translateY(2.8px);
}