.component_big_title {
  font-size: 40px;
  margin-bottom: 20px;
}

.component_big_title span {
  font-size: 20px;
  color: rgb(151, 150, 150);
}

.compontent_title {
  font-size: 25px;
  line-height: 80px;
}

.component_box {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
}

.compontent_box_content {
  padding: 30px;
}

.compontent_box_menu {
  cursor: pointer;
  border-top: 1px solid #ebebeb;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

.compontent_box_menu:hover {
  background-color: rgb(252, 251, 251);
}

p.compontent_p {
  margin-bottom: 30px;
  line-height: 26px;
  color: rgb(100, 99, 99);
}