.code_box_left {
  width: 220px;
}

.code_box_left_content {
  padding: 30px;
}

.code_box_left_color_box {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.code_box_left_color_boxes {
  margin: 10px 0;
}

.code_box_left_color_box:first-child {
  background-color: rgb(224, 53, 230);
}

input.color_input {
  width: 100%;
  outline: none;
  border: none;
  height: 50px;
}

input.color_input::-webkit-color-swatch-wrapper {
  background-color: rgb(185, 185, 185);
  padding: 5px;
}

.color_nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: rgb(235, 235, 235);
  border-radius: 15px;
}

.color_nav_box {
  cursor: pointer;
  z-index: 91;
  text-align: center;
  line-height: 45px;
  width: 33.3%;
}

.color_hover_box {
  position: absolute;
  left: 0;
  top: 4px;
  z-index: 90;
  background-color: rgb(243, 243, 243);
  height: 37px;
  width: 33%;
  transition: all 0.3s;
  border-radius: 15px;
}
