* {
  padding: 0;
  margin: 0;
  font-family: "PuHuiTiBold", Helvetica, Arial, sans-serif;
  color: #495057;
}

:root {
  --bgColor: #2f79ce;
}

@font-face {
  font-family: "PuHuiTiBold";
  font-weight: 700;
  src: url("//at.alicdn.com/wf/webfont/nHM1Jm5mEhGA/Yv_lG0CdWElHDaKWAl0KJ.woff2")
      format("woff2"),
    url("//at.alicdn.com/wf/webfont/nHM1Jm5mEhGA/iZLe7JxEGpCGmDeUIu2oo.woff")
      format("woff");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.left_padding {
  padding-left: 40px;
  padding-right: 40px;
}

.middle_padding {
  padding: 0 60px;
}

.right_padding {
  padding: 0 30px;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  padding: 12px 40px;
  background-color: rgb(47, 121, 206);
  border: none;
  outline: none;
  border-radius: 6px;
  color: white;
  box-shadow: 0 0 5px rgba(32, 105, 189, 0.3);
  transition: all 0.8s;
}

button:hover {
  background-color: rgb(56, 137, 230);
}

img.icon {
  width: 20px;
  margin: 0 10px;
}

.mobile_page {
  position: fixed;
  left: 0;
  top: 0;
  width: 34px;
  top: 34px;
  z-index: 9999999;
  display: none;
  transform: translateY(-34px);
}

@media screen and (max-width: 1200px) {
  .middle_padding {
    padding: 0 10px;
  }

  .right_content {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .middle_padding {
    padding: 0 20px;
  }

  .right_content {
    display: none;
  }

  .left_menu {
    display: none;
  }

  .mobile_page {
    display: block;
  }
}

