button.button_compontent_button1 {
  cursor: pointer;
  padding: 0 30px;
  height: 36px;
  background-color: var(--bgColor);
  border: none;
  outline: none;
  border-radius: 6px;
  color: var(--color);
  box-shadow: 0 0 5px var(--bgColor03);
  transition: all 0.5s;
}

button.button_compontent_button1:hover {
  background-color: var(--hoverColor)!important;
}

button.button_compontent_button1_hover:hover {
  background-color: rgb(70, 145, 245)!important;
}