button.button_compontent_button1 {
  cursor: pointer;
  padding: 12px 40px;
  background-color: rgb(47, 121, 206);
  border: none;
  outline: none;
  border-radius: 6px;
  color: white;
  box-shadow: 0 0 5px rgba(47, 121, 206, 0.3);
  transition: all 0.5s;
}

button.button_compontent_button1:hover {
  background-color: rgb(56, 137, 230);
}